body {
  background: black no-repeat center center fixed url('/photos/1W1C0069.jpg');
  background-size: cover;
  font: 14px Consolas, monaco, monospace;
  color: white;
  letter-spacing: 0.05em;
  margin: 0;
}

section {
  margin: 0 auto;
  width: 142px;
  position: relative;
  left: -100px;
}

header {
  margin: 60px 0;
  display: inline-block;
  float: left;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  width: 400px;
  position: absolute;
  left: 156px;
  top: 100px;
}

li {
  margin: 0 20px;
  float: left;
}
